@charset "UTF-8";
/* CSS Document */



.container{
	padding-top: 30px;
}
	
	
.container-fluid{

	
}
	
	
.bottom{
	padding: 20px;
	background-color:rgb rgba(190,190,190,0.51)
}

body{
	background-image: url("../img/yellow-white-and-gray-background-2340254.jpg");
	background-size: cover;


}


.textblok{
	background-color: rgba(255,255,255,.7);
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "arial";
	border-radius: 25px;
	margin-bottom: -10px;
}
 


.jumbotron{
	background-image: url("../img/two-people-on-mountain-cliff-1647962.jpg");
	background-size: cover;
	

	
	
}





.toptext{
	background-color: rgba(255,255,255,.7);
	padding:15px;
	border-radius: 25px;
	text-align: center;
	margin-top: 30px;
}
.p1{
	background-color: rgba(255,255,255,.7);
	padding: 20px;
	text-align: center;
	border-radius: 25px;
	
}

.p2{
	background-color: rgba(255,255,255,.7);
	margin-left: auto;
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	margin-bottom: 80px;
	
}

.p3{background-color: rgba(255,255,255,.7);
	padding:15px;
	border-radius: 25px;
	text-align: center;
margin-bottom: 30px;}



.kaart1{
	margin-left: auto;
	margin-right: auto;
}


.kaart2{
	margin-left: auto;
	margin-right: auto;
}

.bigcard{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	
}




.buttonclass{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 30px;
	

}
.bottombar{
	text-align: center;

	margin-top: 70px
	
	
}

button{
	margin-top: -10px;
	
	
}



.imagerij{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.bottomnav{
	padding-top: 20px;
	padding-bottom: 10px;
margin-bottom: -20px;
	background-color:  rgba(234,234,234,0.77);
	margin-left: -30px;
	margin-right: -30px;
}
